body {
    // Application background color
    background: $bg-main;
    background: -webkit-linear-gradient(to right, $white, $bg-main);
    background: linear-gradient(to right, $white, $bg-main);

    .app-content {
        display: flex;
        flex-direction: column;
        min-height: 90vh;

        header {
            min-height: $header-heigth;
            background-color: $secondary;
            padding: 0 20px 0 20px;
            display: flex;
            align-items: center;
            position: sticky;
            top: 0;
            box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.2);
        }

        // Main Layout structure
        main {
            max-width: $app-max-width;
            margin: auto;
            flex-grow: 1;
            width: 100%;
            height: 100%;
            margin-top: 2rem;
            margin-bottom: 3rem;
        }

        footer {
            margin-top: auto;
        }
    }
}